---
title: 'AQI Data Cleaning'
author: "Raunak Advani"
format: 
  html: 
    embed-resources: true
---

In [1]:
import pandas as pd
import numpy as np
import os
import re
import seaborn as sns
from matplotlib import pyplot as plt
import sys

In [2]:
os.getcwd()

'/Users/raunakadvani/Desktop/2023-2024/Fall/MDI/mdi-research/code/data-cleaning'

In [3]:
df = pd.read_csv("../../data/raw/aqi/annual_conc_by_monitor_2022.csv")

In [4]:
df.shape

(51887, 55)

In [5]:
df.columns

Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Metric Used', 'Method Name', 'Year',
       'Units of Measure', 'Event Type', 'Observation Count',
       'Observation Percent', 'Completeness Indicator', 'Valid Day Count',
       'Required Day Count', 'Exceptional Data Count', 'Null Data Count',
       'Primary Exceedance Count', 'Secondary Exceedance Count',
       'Certification Indicator', 'Num Obs Below MDL', 'Arithmetic Mean',
       'Arithmetic Standard Dev', '1st Max Value', '1st Max DateTime',
       '2nd Max Value', '2nd Max DateTime', '3rd Max Value',
       '3rd Max DateTime', '4th Max Value', '4th Max DateTime',
       '1st Max Non Overlapping Value', '1st NO Max DateTime',
       '2nd Max Non Overlapping Value', '2nd NO Max DateTime',
       '99th Percentile', '98th Percentile', '95th Percentile',
       '90th Percentile', '75th Percentile', '50th Percentile',
       '10th Percentile', 'Local Site Name', 'Address', 'State Name',
       'County Name', 'City Name', 'CBSA Name', 'Date of Last Change'],
      dtype='object')

In [6]:
df.isna().sum()

State Code                           0
County Code                          0
Site Num                             0
Parameter Code                       0
POC                                  0
Latitude                             0
Longitude                            0
Datum                                0
Parameter Name                       0
Sample Duration                      0
Pollutant Standard               34150
Metric Used                          0
Method Name                      10641
Year                                 0
Units of Measure                     0
Event Type                           0
Observation Count                    0
Observation Percent                  0
Completeness Indicator               0
Valid Day Count                      0
Required Day Count                   0
Exceptional Data Count               0
Null Data Count                      0
Primary Exceedance Count         39734
Secondary Exceedance Count       40609
Certification Indicator              0
Num Obs Below MDL                    0
Arithmetic Mean                      0
Arithmetic Standard Dev              0
1st Max Value                        0
1st Max DateTime                     0
2nd Max Value                       24
2nd Max DateTime                    24
3rd Max Value                      117
3rd Max DateTime                   117
4th Max Value                      392
4th Max DateTime                   392
1st Max Non Overlapping Value    51641
1st NO Max DateTime              51641
2nd Max Non Overlapping Value    51641
2nd NO Max DateTime              51641
99th Percentile                      0
98th Percentile                      0
95th Percentile                      0
90th Percentile                      0
75th Percentile                      0
50th Percentile                      0
10th Percentile                      0
Local Site Name                   1919
Address                             36
State Name                           0
County Name                          0
City Name                         7987
CBSA Name                         3667
Date of Last Change                  0
dtype: int64

In [34]:
import pandas as pd

def process_csv(file_path):
    """Processes a CSV file by selecting certain columns and renaming them."""
    
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # Columns to keep
    columns_to_keep = [
        "State Code", "County Code", "Latitude",
        "Longitude", "Parameter Name", "Year", 
        "Units of Measure", "Arithmetic Mean", 
        "Arithmetic Standard Dev", "1st Max Value", "2nd Max Value", "75th Percentile",
        "50th Percentile", "State Name", "County Name",
        "City Name"
    ]
    
    # Keep only the specified columns
    df = df[columns_to_keep]
    
    # Rename columns
    rename_dict = {
        "State Code" : "state_code",
        "County Code" : "county_code",
        "Latitude" : "latitude",
        "Longitude" : "longitude",
        "Parameter Name" : "parameter",
        "Year" : "year",
        "Units of Measure" : "units",
        "Arithmetic Mean" : "mean",
        "Arithmetic Standard Dev" : "stddev",
        "1st Max Value" : "first_max",
        "2nd Max Value" : "second_max",
        "75th Percentile" : "pct_50",
        "50th Percentile" : "pct_50",
        "State Name" : "state_name",
        "County Name" : "county_name",
        "City Name" : "city_name"
    }
    df.rename(columns=rename_dict, inplace=True)
    
    return df

folder_path = "../../data/raw/aqi/"

# list to store the processed dataframes
dfs = []

# loop through each year and process the corresponding CSV
for year in range(2000, 2023):  # 2000 to 2022 inclusive
    file_path = f"{folder_path}annual_conc_by_monitor_{year}.csv"
    dfs.append(process_csv(file_path))

# concatenate all dataframes together
merged_df = pd.concat(dfs, ignore_index=True)

# display the shape and head of the merged dataframe
merged_df.shape, merged_df.head()

/var/folders/37/fsk42jds3255qblrs5r1v99c0000gn/T/ipykernel_7013/3279563301.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/37/fsk42jds3255qblrs5r1v99c0000gn/T/ipykernel_7013/3279563301.py:7: DtypeWarning: Columns (0,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/37/fsk42jds3255qblrs5r1v99c0000gn/T/ipykernel_7013/3279563301.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/37/fsk42jds3255qblrs5r1v99c0000gn/T/ipykernel_7013/3279563301.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/37/fsk42jds3255qblrs5r1v99c0000gn/T/ipykernel_7013/3279563301.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/37/fsk42jds3255qblrs5r1v99c0000gn/T/ipykernel_7013/3279563301.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/37/fsk42jds3255qblrs5r1v99c0000gn/T/ipykernel_7013/3279563301.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

((1915530, 12),
   state_code  county_code   latitude  longitude             parameter  year  \
 0          1            3  30.497478 -87.880258                 Ozone  2000
 1          1            3  30.497478 -87.880258                 Ozone  2000
 2          1            3  30.497478 -87.880258                 Ozone  2000
 3          1            3  30.497478 -87.880258                 Ozone  2000
 4          1            3  30.497478 -87.880258  Sample Flow Rate- CV  2000

                units      mean  pct_50 state_name county_name city_name
 0  Parts per million  0.061870   0.062    Alabama     Baldwin  Fairhope
 1  Parts per million  0.054953   0.055    Alabama     Baldwin  Fairhope
 2  Parts per million  0.054953   0.055    Alabama     Baldwin  Fairhope
 3  Parts per million  0.054835   0.055    Alabama     Baldwin  Fairhope
 4            Percent  0.288660   0.200    Alabama     Baldwin  Fairhope  )

In [24]:
merged_df['year'].value_counts()

year
2005    99556
2006    96108
2004    94327
2007    94015
2002    93819
2003    93044
2021    92820
2009    92349
2008    91375
2010    87078
2011    85188
2012    83792
2013    82450
2001    82317
2014    82056
2015    78842
2016    77256
2017    73491
2000    73481
2018    73431
2019    68555
2020    68293
2022    51887
Name: count, dtype: int64

In [35]:
merged_df['year'] = pd.to_datetime(merged_df.year, format='%Y')

In [36]:
merged_df.head(10)

,state_code,county_code,latitude,longitude,parameter,year,units,mean,pct_50,state_name,county_name,city_name
0,1,3,30.497478,-87.880258,Ozone,2000-01-01,Parts per million,0.061870,0.062,Alabama,Baldwin,Fairhope
1,1,3,30.497478,-87.880258,Ozone,2000-01-01,Parts per million,0.054953,0.055,Alabama,Baldwin,Fairhope
2,1,3,30.497478,-87.880258,Ozone,2000-01-01,Parts per million,0.054953,0.055,Alabama,Baldwin,Fairhope
3,1,3,30.497478,-87.880258,Ozone,2000-01-01,Parts per million,0.054835,0.055,Alabama,Baldwin,Fairhope
4,1,3,30.497478,-87.880258,Sample Flow Rate- CV,2000-01-01,Percent,0.288660,0.200,Alabama,Baldwin,Fairhope
5,1,3,30.497478,-87.880258,Sample Volume,2000-01-01,Cubic meter,23.985567,24.000,Alabama,Baldwin,Fairhope
6,1,3,30.497478,-87.880258,Ambient Min Temperature,2000-01-01,Degrees Centigrade,15.625556,17.700,Alabama,Baldwin,Fairhope
7,1,3,30.497478,-87.880258,Ambient Max Temperature,2000-01-01,Degrees Centigrade,28.309091,30.900,Alabama,Baldwin,Fairhope
8,1,3,30.497478,-87.880258,Average Ambient Temperature,2000-01-01,Degrees Centigrade,21.823333,24.300,Alabama,Baldwin,Fairhope
9,1,3,30.497478,-87.880258,Sample Min Baro Pressure,2000-01-01,Millimeters (mercury),764.544444,765.000,Alabama,Baldwin,Fairhope

In [38]:
merged_df.to_csv("../../data/clean/aqi.csv", index = False)